.costome__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 179px;
    margin-top: 139px;
    margin-bottom: 60px;

    @media (max-width: 1200px) {
        gap: 90px;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        gap: 31px;
        padding: 4px;
        border-bottom: 3px solid #667085;
        border-radius: 4px;
      }
}

.costome__text{
    h1{
        font-size: 48px;
        font-weight: 900;
        padding-bottom: 32px;

        @media (max-width: 1200px) {
            font-size: 38px;
          }
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-bottom: 16px;
    }
    img{
        cursor: pointer;

        @media (max-width: 900px) {
          display: none;
        }
    }
}