.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  background-color: #F2F0F1;
}

.hero__find {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 32px;
    transition: 0.6s;


    &:hover{
      color: rgba(0, 0, 0, 0.604);
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.604);
  }

  button {
    color: white;
    padding: 15px 67px;
    border-radius: 15px;
    background-color: black;
    border: 2px solid transparent;
    cursor: pointer;
    margin: 47px 0 67px 0;
    transition: 0.7s;

    &:hover{
      background-color: #F2F0F1;
      border: 2px solid black;
      color: black;
    }
  }
}

.hero__plus {
  display: flex;
  justify-content: center;
  align-items: center;
 

  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    

   
  }
}

.hero__200 {
  border-left: 2px solid rgba(0, 0, 0, 0.7);
  padding: 0 22px 0 19px;
  transition: all 0.4s;

  &:hover {
   scale: 1.2 ;
   padding: 0 28px;
  }
}

