h6 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}
.cards__text{
  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
  }
}
.cards__boxes {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
  align-items: center;

  margin-bottom: 100px;


  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.cards__box {
  background-color: rgba(235, 235, 235, 0.5);
  border: none;
  border-radius: 20px;
  text-align: center;
  transition: 0.7s;


  img{
    padding: 32px 108px 15px 108px;
  }

  p{
    padding: 14px 0;
  }

  &:hover{
    color: white;
    background-color: #8EADD5;
    scale: 1.2;


  }



}
